In [1]:
import pandas as pd

covid_df = pd.read_csv('../data/covidtesting.csv', engine='python')
covid_age_df = pd.read_csv('../data/percent_positive_by_agegrp.csv', engine='python')
vaccine_df = pd.read_csv('../data/vaccine_doses.csv', engine='python')

In [2]:
covid_df.head()

,Reported Date,Confirmed Negative,Presumptive Negative,Presumptive Positive,Confirmed Positive,Resolved,Deaths,Total Cases,Total patients approved for testing as of Reporting Date,Total tests completed in the last day,...,Number of patients in ICU on a ventilator due to COVID-19,Num. of patients in ICU on a ventilator testing positive,Num. of patients in ICU on a ventilator testing negative,Total Positive LTC Resident Cases,Total Positive LTC HCW Cases,Total LTC Resident Deaths,Total LTC HCW Deaths,Total_Lineage_B.1.1.7,Total_Lineage_B.1.351,Total_Lineage_P.1
0,2020-01-26,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-27,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-28,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-30,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-31,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
covid_age_df.head()

         DATE age_category  percent_positive_7d_avg
0  2020-05-01        0to13                   0.0340
1  2020-05-02        0to13                   0.0350
2  2020-05-03        0to13                   0.0360
3  2020-05-04        0to13                   0.0359
4  2020-05-05        0to13                   0.0355

In [4]:
vaccine_df.head()

,report_date,previous_day_doses_administered,total_doses_administered,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated
0,2020-12-24,NaN,"10,756",NaN,NaN
1,2020-12-30,"4,595","18,603",NaN,NaN
2,2020-12-31,"5,463","23,502",NaN,NaN
3,2021-01-01,"5,415","28,887",NaN,NaN
4,2021-01-02,"4,305","33,191",NaN,NaN

In [5]:
# Rename the date column to be consistent across all dataframes
covid_age_df.rename({'DATE': 'report_date'}, axis='columns')

     report_date age_category  percent_positive_7d_avg
0     2020-05-01        0to13                   0.0340
1     2020-05-02        0to13                   0.0350
2     2020-05-03        0to13                   0.0360
3     2020-05-04        0to13                   0.0359
4     2020-05-05        0to13                   0.0355
...          ...          ...                      ...
1640  2021-03-21          65+                   0.0276
1641  2021-03-22          65+                   0.0281
1642  2021-03-23          65+                   0.0291
1643  2021-03-24          65+                   0.0293
1644  2021-03-25          65+                   0.0305

[1645 rows x 3 columns]

In [6]:
# Rename the date column to be consistent across all dataframes
covid_df.rename({'Reported Date': 'report_date'}, axis='columns')

,report_date,Confirmed Negative,Presumptive Negative,Presumptive Positive,Confirmed Positive,Resolved,Deaths,Total Cases,Total patients approved for testing as of Reporting Date,Total tests completed in the last day,...,Number of patients in ICU on a ventilator due to COVID-19,Num. of patients in ICU on a ventilator testing positive,Num. of patients in ICU on a ventilator testing negative,Total Positive LTC Resident Cases,Total Positive LTC HCW Cases,Total LTC Resident Deaths,Total LTC HCW Deaths,Total_Lineage_B.1.1.7,Total_Lineage_B.1.351,Total_Lineage_P.1
0,2020-01-26,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-27,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-28,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-30,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-31,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,2021-04-02,NaN,NaN,NaN,22016.0,326121.0,7412.0,355549.0,12675796.0,62333.0,...,271.0,261.0,10.0,15051.0,6824.0,3901.0,10.0,2022.0,70.0,103.0
422,2021-04-03,NaN,NaN,NaN,23190.0,327940.0,7428.0,358558.0,12734913.0,59117.0,...,261.0,252.0,9.0,15055.0,6824.0,3901.0,10.0,2042.0,70.0,102.0
423,2021-04-04,NaN,NaN,NaN,24320.0,329839.0,7440.0,361599.0,12781293.0,46380.0,...,262.0,254.0,8.0,15063.0,6833.0,3901.0,10.0,2114.0,71.0,103.0
424,2021-04-05,NaN,NaN,NaN,25487.0,331600.0,7450.0,364537.0,12817856.0,36563.0,...,293.0,284.0,9.0,15069.0,6836.0,3903.0,10.0,2135.0,71.0,103.0
425,2021-04-06,NaN,NaN,NaN,26568.0,333576.0,7458.0,367602.0,12855397.0,37541.0,...,310.0,299.0,11.0,15069.0,6838.0,3903.0,10.0,2165.0,71.0,106.0